{% extends 'forum/base.html' %} {% block content %}

<main>
  <div class="container">
    <div class="row">
      <!-- Topics Start -->
      <div class="col-3">{% include 'forum/topics_component.html' %}</div>
      <!-- Topics End -->

      <!-- Post List Start -->
      <div class="col-6">
        <div>
          <div class="d-flex justify-content-between align-items-baseline">
            <div>
              <h1 class="display-6">Study Posts</h1>
              <p>{{post_count}} Posts available</p>
            </div>

            <div>
              <a class="btn btn--main" href="{% url 'create-post' %}">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>add</title>
                  <path
                    d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                  ></path>
                </svg>
                Create Post
              </a>
            </div>
          </div>

          {% include 'forum/feed_component.html' %}
        </div>
      </div>
      <!-- Post List End -->

      <!-- Activities Start -->
      <div class="col-3">{% include 'forum/activity_component.html' %}</div>
      <!-- Activities End -->
    </div>
  </div>
</main>

{% endblock %}
